.benefits {
  @extend %section;
}

.benefits__title {
  @extend %visually-hidden;
}

.benefits__list {
  @include card-set('benefit');

  @media screen and (min-width: $tablet-width) {
    @include card-set('benefit', 2);
  }
  @media screen and (min-width: $desktop-width) {
    @include card-set('benefit', 4);
  }
}

.benefit__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-gray);
}

.benefit__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16px / 14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
}

.benefit__descr {
  font-size: 14px;
  line-height: calc(24px / 14px);
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}
