.clients {
  @extend %section;
}

.clients__list {
  @include card-set('clients__item', 2);

  @media screen and (min-width: $tablet-width) {
    @include card-set('clients__item', 3);
  }

  @media screen and (min-width: $desktop-width) {
    @include card-set('clients__item', 6);
  }
}

.clients__link {
  @extend %link;

  display: flex;
  height: 92px;
  color: var(--client-link-cl);
  border: 1px solid var(--client-link-cl);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: color var(--transition-parameters), border var(--transition-parameters);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
