.clients {
  @extend %section;
}

.clients__list {
  @include card-set($items: 6, $cardName: 'clients__item');
}

.clients__link {
  @extend %link;

  display: flex;
  height: 92px;
  color: var(--client-link-cl);
  border: 1px solid var(--client-link-cl);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: color var(--transition-parameters), border var(--transition-parameters);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
