.hero {
  max-width: 1600px;
  padding: 118px 15px;
  margin: 0 auto;
  background-color: var(--bg-hero-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $desktop-width) {
    padding: 200px 15px;
  }

  // <= 480px

  background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
    url('../images/main/hero/bg-img-mobile@1x.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
      url('../images/main/hero/bg-img-mobile@2x.jpg');
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
      url('../images/main/hero/bg-img-mobile@3x.jpg');
  }

  // >480 and <=678
  @media screen and (min-width: ($mobile-width + 1px)) {
    background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
      url('../images/main/hero/bg-img-tablet@1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
        url('../images/main/hero/bg-img-tablet@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288px), (min-resolution: 3dppx) {
      background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
        url('../images/main/hero/bg-img-tablet@3x.jpg');
    }
  }

  // >768 and <=1600
  @media screen and (min-width: ($tablet-width + 1px)) {
    background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
      url('../images/main/hero/bg-img-desktop@1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 196dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
        url('../images/main/hero/bg-img-desktop@2x.jpg');
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288px), (min-resolution: 3dppx) {
      background-image: linear-gradient(var(--bg-filter), var(--bg-filter)),
        url('../images/main/hero/bg-img-desktop@3x.jpg');
    }
  }
}

.hero__title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);

  @media screen and (min-width: $desktop-width) {
    font-size: 44px;
    line-height: calc(60px / 44px);
  }
}
