.nav__item:not(:last-child) {
  margin: 0 0 32px 0;
}

.nav__link {
  @extend %link;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px/40px;
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--active {
    color: var(--accent-color);
  }
}

// .nav {
//   display: flex;
//   align-items: center;
// }

// .nav__list {
//   display: flex;
//   align-items: center;
// }

// .nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .nav__link {
//   @extend %link;

//   position: relative;
//   display: inline-block;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: currentColor;
//   transition: color var(--transition-parameters);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }

//   &--active {
//     color: var(--accent-color);
//   }

//   &--active::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: -1px;

//     display: inline-block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }
