.call-back__form-group {
  margin-bottom: 20px;
}

.call-back__form-field {
  position: relative;
  display: block;

  &--centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.call-back__label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-color-gray);
}

.call-back__wrapper {
  position: relative;
}

.call-back__input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--text-placeholder-cl);
  }

  &:focus,
  &:hover {
    outline: transparent;
    border: 1px solid var(--accent-color);
  }
}

.call-back__textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  &:focus,
  &:hover {
    outline: transparent;
    border: 1px solid var(--accent-color);
  }
}

.call-back__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;

  transition: color var(--transition-parameters);

  .call-back__input:focus + &,
  .call-back__input:hover + & {
    color: var(--accent-color);
  }
}

.call-back__acception {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.call-back__checkbox {
  @extend %visually-hidden;
}

.call-back__checkbox-icon {
  margin-right: 7px;
}

.call-back__check {
  opacity: 0;
  transition: opacity var(--transition-parameters);

  .call-back__checkbox:checked + .call-back__checkbox-icon > & {
    opacity: 1;
  }
}

.call-back__uncheck {
  opacity: 1;
  transition: opacity var(--transition-parameters);

  .call-back__checkbox:checked + .call-back__checkbox-icon > & {
    opacity: 0;
  }
}

.call-back__acception-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
  user-select: none;

  @media screen and (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 24px / 14px;
  }
}

.call-back__link {
  color: var(--accent-color);
}

.call-back__btn {
  margin: 0 auto;
}
