.contacts {
}
.contacs__item {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts__item:first-child {
  margin-bottom: 32px;
}
.contacs__items:last-child {
  margin-bottom: 64px;
}

.contacts__mail {
  @extend %link;
  font-size: 34px;
  line-height: 40px/34px;
  color: var(--accent-color);
}

.contacts__tel {
  @extend %link;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color-gray);
}

.contacts__socials-list {
  display: flex;
}
.contacts__solials-item {
}

.contacts__socials-link {
  // outline: 1px solid red;
  @extend %link;
  // display: inline-block;
  // padding: 0 10px;

  &:first-child {
    padding-left: 0px;
  }

  &:not(:first-child) {
    padding-left: 10px;
    border-left: 2px solid black;
  }

  &:not(:last-child) {
    // padding-right: 10px;
  }
}

// .contacts {
//   display: flex;
//   margin-left: auto;
// }

// .contacts__item:not(:last-child) {
//   margin-right: 50px;
// }

// .contacts__link {
//   @extend %link;

//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--text-color-gray);
//   transition: color var(--transition-parameters);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
