.contacts {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
  }
}

.contacs__item {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts__mail {
  @extend %link;
  display: flex;
  font-size: 24px;
  line-height: 28px/24px;
  color: var(--text-color-gray);

  @media screen and (min-width: $tablet-width) {
    // display: flex;
    font-size: 12px;
    line-height: 14px/12px;
  }
}

.contacts__tel {
  @extend %link;
  display: flex;
  margin-bottom: 32px;

  font-size: 34px;
  line-height: 40px/34px;
  color: var(--accent-color);

  @media screen and (max-width: ($mobile-width - 0.5px)) {
    font-size: 24px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px/12px;
    color: var(--text-color-gray);
  }
}

.contacts__icon {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__socials-list {
  display: flex;
  margin-left: -10px;
  margin-top: 64px;

  @media screen and (min-width: $tablet_width) {
    display: none;
  }
}
.contacts__solials-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.contacts__socials-link {
  @extend %link;
  display: block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px/18px;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (max-width: ($mobile-width - 0.5px)) {
    font-size: 10px;
  }
}

// .contacts {
//   display: flex;
//   margin-left: auto;
// }

// .contacts__item:not(:last-child) {
//   margin-right: 50px;
// }

// .contacts__link {
//   @extend %link;

//   display: flex;
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--text-color-gray);
//   transition: color var(--transition-parameters);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
