.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: inherit;
  background-color: var(--bg-color-gray);

  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: color var(--transition-parameters), background-color var(--transition-parameters),
    box-shadow var(--transition-parameters);

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
