.portfolio-list {
  @include card-set('portfolio-card');
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
    @include card-set('portfolio-card', 2);
  }

  @media screen and (min-width: $desktop-width) {
    @include card-set('portfolio-card', 3);
  }
}

.portfolio-card {
}

.portfolio-card__link {
  @extend %link;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition-parameters);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:visited {
    color: currentColor;
  }
}

.portfolio-card__thumb {
  position: relative;
  height: auto;
  outline: 1px dotted darkorchid;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 24px;
  height: 100%;
  background-color: var(--bg-overlay-cl);
  overflow: auto;

  transform: translateY(100%);
  transition: transform var(--transition-parameters);

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-card__overlay-content {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--text-color-white);

  @media screen and (max-width: ($mobile-width - 0.1px)) {
    font-size: 16px;
  }
}

.portfolio-card__image {
  display: block;

  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-card__wrapper {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border: 1px solid var(--portfolio-border-cl);
  border-top: none;
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px/18px;
  letter-spacing: 0.06em;
}

.portfolio-card__descr {
  font-size: 16px;
  line-height: 30px/16px;
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}
