@mixin card-set($cardName, $items: var(--items), $indent: var(--indent)) {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;

  .#{$cardName} {
    flex-basis: calc((100% - ($items - 1) * $indent) / $items);
  }
}
