%section {
  // outline: 2px dotted green;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

%link {
  text-decoration: none;
}

%image {
  display: block;
  max-width: 100%;
  height: auto;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
